<h2>Edit <%=@movie.name%></h2>

<form action="/users/<%=@user.slug%>/movies/<%=@movie.id%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <span>Movie Title:</span>
    <input type="text" id="movie_title" name="movie[name]" value="<%=@movie.name%>">
    <br>

    <span>Rating:</span>
      <select name="movie[rating]" >
      <% (1..5).to_a.each do |number| %>
      <option value="number"><%= number %></option>
        <option selected="selected" value="<%=number%>"><%= @movie.rating %></option>
      <% end %>
      </select>
    <br>

    <span>Director:</span>
      <select>
        <option name="" value="" id=""></option>
        <%Director.all.each do |director|%>
        <option selected="director[director_id]" value="<%=@movie.director.name%>"><%= @movie.director.name %></option>
        <option name="director[id]" value="<%=director.id%>" id="<%=director.id%>"><%=director.name%></<option>
        <%end%>
      </select>
        <br>
        Or Create New Director: <input id= "director_id" type="text" name="director[name]"/>
        <br>




    <span>Genres:</span>
      <select multiple>
        <%Genre.all.each do |genre|%>
        <option><a href="genres/new">Create a new Genre</a></option>
        <option selected="selected" value="<%=@movie.genres%>"><%= @movie.genres %></option>
      </select>
      <%end%>

    <span>Review:</span>
      <input type="text" id="review" name="movie[review]" value="<%=@movie.review%>"/>
     <br>

     <input type="submit" value="Edit"> | <button type="cancel" onclick="users/<%=@user.slug%>/movies/<%=@movie.id%>;return false;">Cancel</button>
   </form>
