<h2>Edit <%=@movie.name%></h2>
<form action="/users/<%=@user.slug%>/movies/<%=@movie.slug%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <span>Movie Title:</span>
    <input type="text" id="movie_title" name="movie[name]" value="<%=@movie.name%>">
    <br>

    <span>Rating:</span>
      <select name="movie[rating]">
      <% (1..5).to_a.each do |number| %>
      <option selected="selected" value="<%=number%>"><%= number %></option>
      <% end %>
      </select>
    <br>

    <span>Director:</span>
      <select name="movie[director_id]">
        <option name="" value="" id=""></option>
        <%Director.all.sort.each do |director|%>
        <option name="director[director_id]" value="<%=director.id%>" id="<%=director.id%>" <%= 'selected' if @movie.director.id == director.id %>><%=director.name%></<option>
        <%end%>
      </select>
        <br>
        Or Create New Director: <input id= "director_id" type="text" name="director[name]"/>
        <br>


    <span>Genres:</span>
      <% @genres.each do |genre| %>
        <input type="checkbox" id="<%=genre.id%>" name="movie[genre_ids][]" value="<%=genre.id%>"<%= 'checked' if @movie.genre_ids.include?(genre.id) %>><%=genre.name%></input>

      <%end%>
      <br>
      Or Create New Genre(s): <input id="genre_id" type="text" name="genre[name]"/>
      <br>
      <br>

    <span>Review:</span>
      <input type="text" id="review" name="movie[review]" value="<%=@movie.review%>" style="width: 300px;"/>
     <br>

     <input type="submit" value="Save"> | <button type="cancel" onclick="users/<%=@user.slug%>/movies/<%=@movie.slug%>;return false;">Cancel</button>
   </form>
