<h1>Yay! A New Movie Review</h1>

<form method="post" action="/users/<%=@user.slug%>/movies">
  <span>Movie Title:</span>
    <input type="text" id="movie_title" name="movie[name]">
    <br>

    <span>Rating:</span>
      <select name="movie[rating]">
      <% (1..5).to_a.each do |number| %>
      <option value="<%=number%>"><%= number %></option>
      <% end %>
      </select>
    <br>

    <span>Director:</span>
      <select>
        <%Director.all.each do |director|%>
        <option><a href="directors/new">Create New Director</a></option>
        <option name="director[name]"><%=director.name%></option>
        <%end%>
      </select>
      <br/>


      <span>Genres:</span>
          <%@genres.each do |type|%>
            <input type="checkbox" name="genre[genre_ids][]" value="<%=genre.id%>" id="<%=genre.id%>"><%=genre.name%></input>
          <%end%>
          <p></p>
           <p>Or Create New Genre: <input type="text" name="genre[genre_name]"/></p>


    <span>Review:</span>
      <input type="text" id="review" name="movie[review]">
     <br>

     <input type="submit" value="Submit">

</form>
