<h2>Yay! A New Movie Review</h2>

<form method="post" action="/users/<%=@user.slug%>/movies">

  <span>Movie Title:</span>
    <input type="text" id="movie_name" name="movie[name]">
    <br>
    <br>

    <span>Rating:</span>
      <select name="movie[rating]">
      <% (1..5).to_a.each do |number| %>
      <option value="<%=number%>"><%= number %></option>
      <% end %>
      </select>
    <br>
    <br>


      <span>Director:</span>
      <select name="movie[director]">
        <option name="" value="" id=""></option>
        <%Director.all.each do |director|%>
        <option name="director[director_id]" value="<%=director.id%>" id="<%=director.id%>"><%=director.name%></<option>
        <%end%>
      </select><br>
      Or Create New Director: <input id= "director_id" type="text" name="director[name]"/>
      <br>
      <br>

      <span>Genres:</span>
        <%@genres.each do |genre|%>
          <input type="checkbox" id="<%=genre.id%>" name="movie[genre_ids][]" value="<%=genre.id%>"><%=genre.name%></input>
          <% end %>
          <br>
        Or Create New Genre(s): <input id="genre_id" type="text" name="genre[name]"/>
        <br>
        <br>


        <span>Review:</span>
          <input id="textboxid" type="text" id="review" name="movie[review]" style="width: 300px;">
        <br>

     <input type="submit" value="Submit">

</form>
