<h2>Yay! A New Movie Review</h2>

<form method="post" action="/users/<%=@user.slug%>/movies/new">
  
  <span>Movie Title:</span>
    <input type="text" id="movie_title" name="movie[name]">
    <br>

    <span>Rating:</span>
      <select name="movie[rating]">
      <% (1..5).to_a.each do |number| %>
      <option value="<%=number%>"><%= number %></option>
      <% end %>
      </select>
    <br>

    <span>Director:</span>

      <select>
        <%Director.all.each do |director|%>
        <option name="director[name]" value="<%=director.name%>"><%=director.name%></option>
        <%end%>
      </select><br>
      Or Create New Director: <input type="text" name="director[name]"/>
      <br>


      <span>Genres:</span>
        <%Genre.all.each do |genre|%>
        <select>
          <input type="checkbox" id="genre_<%=genre.id%>" value="<%=genre.name%>" name="movie[genre_ids][]">
          <label><%=genre.name%></label>
          <%end%><br>
        </select>

        Or Create New Genre: <input type="text" name="genre[name]"/><br>


    <span>Review:</span>
      <input id="textboxid" type="text" id="review" name="movie[review]">
     <br>

     <input type="submit" value="Submit">

</form>
