
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>

  <br><br>

  <h2><%=@movie.name.capitalize%> Review</h2>

    <br>
    <span>Rating:<%=@movie.rating%><span>
    <br>
    <br>

    <span>Director: </span><%=@movie.director.name%>
    <br>
    <br>
    <span>Genres: </span><%= @movie.genres.map {|genre| genre.name}.join(", ") %>
    <br>
    <br>
    <span>Review: </span><%=@movie.review%>
    <br>
    <br>

  <form method="post" action="/users/<%=@user.slug%>/movies/<%=@movie.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>

  <br>
  <p><a href="/users/<%=@user.slug%>/movies/<%=@movie.slug%>/edit">Edit</a></p>
